<div
  *ngIf="panelDisplayed"
  class="player-panel__counters-container
  p-3 flex flex-col
  w-full h-full"
  [appRotate]="playerVisualization.orientation"
  [class.player-panel__counters-container--side-rotated]="isRotated(playerVisualization.orientation)"
>
  <textarea class="text-center
    mb-1 font-bold bg-transparent
    self-center
    resize-none
    focus:border-0
    focus:outline-0"
            [(ngModel)]="playerName"
            (keyup.enter)="playerNameSubmitted(playerName)"
            (blur)="playerNameSubmitted(playerName)"
  >
  </textarea>
  <div class="flex w-full h-full
  overflow-hidden
  rounded-lg
  border-solid
  border-amber-800
  border-2">
    <app-counter *ngFor="let index of attributeIndexes; let last = last"
                 [backgroundImage]="index | counterBackground"
                 [value]="attributeValues[index]"
                 (valueIncrease)="increaseValue(index)"
                 (valueDecrease)="decreaseValue(index)"
                 [class.text-stone-400]="last"
                 class="grow"
    >
    </app-counter>
  </div>
</div>

